<%= form_with(model: lead) do |form| %>
  <% if lead.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(lead.errors.count, "error") %> prohibited this lead from being saved:</h2>

      <ul>
        <% lead.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :clients_name, style: "display: block" %>
    <%= form.text_field :clients_name %>
  </div>

  <div>
    <%= form.label :source, style: "display: block" %>
    <%= form.text_field :source %>
  </div>

  <div>
    <%= form.label :product, style: "display: block" %>
    <%= form.text_field :product %>
  </div>

  <div>
    <%= form.label :renewal_date, style: "display: block" %>
    <%= form.date_field :renewal_date %>
  </div>

  <div>
    <%= form.label :premium, style: "display: block" %>
    <%= form.number_field :premium %>
  </div>

  <div>
    <%= form.label :income, style: "display: block" %>
    <%= form.number_field :income %>
  </div>

  <div>
    <%= form.label :notes, style: "display: block" %>
    <%= form.text_field :notes %>
  </div>

  <div>
    <%= form.label :underwriter, style: "display: block" %>
    <%= form.text_field :underwriter %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
