<div id="<%= dom_id lead %>">
  <p>
    <strong>Clients name:</strong>
    <%= lead.clients_name %>
  </p>

  <p>
    <strong>Source:</strong>
    <%= lead.source %>
  </p>

  <p>
    <strong>Product:</strong>
    <%= lead.product %>
  </p>

  <p>
    <strong>Renewal date:</strong>
    <%= lead.renewal_date %>
  </p>

  <p>
    <strong>Premium:</strong>
    <%= lead.premium %>
  </p>

  <p>
    <strong>Income:</strong>
    <%= lead.income %>
  </p>

  <p>
    <strong>Notes:</strong>
    <%= lead.notes %>
  </p>

  <p>
    <strong>Underwriter:</strong>
    <%= lead.underwriter %>
  </p>

</div>


